.content-section{
    padding: 0px 200px;
}
.maintext{
    font-family: inherit;
    font-weight: 400;
    line-height: 1.35;
    font-size: 2.5rem;
    margin: 0px;
}
.subtext{
    font-family: inherit;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
}
.content-button{
    background-color: var(--color-one) !important;
    box-shadow: 0 5px 6px -3px var(--color-one);
    border-color: var(--color-one) !important;
}
.content-button:hover{
    background-color: var(--color-one) !important;
    box-shadow: none;
}
.card-title{
    color: var(--color-four);
    font-size: 1.625rem;
    margin-bottom: 0px !important;
    font-weight: 400;
}
.businessSite-card{
    height: 230px;
    overflow: auto;
}
.businessSite-card-img-data-col{
    height: 60px;
    display: flex;
    align-items: center;
}
.entire-single-card{
    height: 100px;
    overflow: hidden;
}
.learn-more{
    color: var(--color-one);
}
.explore-platform-card{
    overflow: hidden;
}
.explore-platform-card-title{
    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
}
.active-explore-platform-card:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    background: transparent;
    transition: .5s ease,  .5s ease;
    width: 100%;
    background: var(--color-one);
}
.active-explore-platform-card:hover{
    box-shadow: none;
    border: 1px solid var(--color-two) !important;
}
.explore-platform-card:after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: .5s ease,  .5s ease;
}
.explore-platform-card:hover:after{
    width: 100%;
    background: var(--color-one);
}
.explore-platform-card:hover{
    box-shadow: none;
    border: 1px solid var(--color-two) !important;
}
.explore-platform-card-desc{
    font-size: 1rem;
    line-height: 1.6;
    color: var(--color-three);
}
.business-service-card{
    border: none !important;
    height: 300px;
    overflow: auto;
}
.topReason-card{
    border: none !important;
    height: 260px;
    overflow: auto;
}
.topReason-card:hover{
    box-shadow: none !important;
}

/* FROM HERE BANNER ANNIMATION */
.banner-animation-container{
    opacity: 1;
    position: relative;
    width: 400px;
    height: 400px;
}
/* .globe-pulse{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform-origin: center;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(18);
    opacity: 0.565677;
    background: rgb(185, 185, 185);
} */
.radar-container{
    position: relative;
    top: -45px;
    left: -44px;
}
.radar-container-small{
    width: 450px;
    height: 455px;
}
.radar-small{
    height: auto;
    width: 100%;
    position: absolute;
    top: 5%;
    left: 5%;
    /* transform: translate(-50%, -50%); */
    animation: small-spin 75s linear infinite;
}
@keyframes small-spin{
    100%{ transform: rotate(360deg); }
}
.radar-container-medium{
    position: absolute;
    width: 550px;
    height: 555px;
}
.radar-medium{
    height: auto;
    width: 100%;
    position: absolute;
    top: -7%;
    left: -4%;
    /* transform: translate(-50%, -50%); */
    animation: medium-spin 90s linear infinite;
}
@keyframes medium-spin{
    100%{ transform: rotate(360deg); }
}
.globe{
    height: 350px;
    width: 350px;
    border-radius: 50%;
    z-index: 5;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.globe-map{
    position: relative;
    top: -19px;
    width: 2124px;
    height: 523px;
    font-family: "object-fit:cover";
    object-fit: cover;
    background-image: url(../../../assets/images/map.svg);
    background-repeat: repeat;
    background-color: white;
    /* transform: translateX(-814.484px); */
    animation: slide 60s linear infinite;
}
@keyframes slide
{
    0%{ background-position: 1062px 0; }
    100%{ background-position: 0 0; }
}

